<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/signin.css" />
</head>

<body>
    <!-- onload = "getTopics();getNewsByTitle();" onunload = "saveLastTopic();">-->

    <div class="wrapper">
        <div class="header">
            <img src="/images/Capture.PNG">
            <span>My BlaBlaBla Extension</span>
        </div>
        <img id="page-icon">
        <span id="page-title">Oops! This does not work on current page...</span>
        <!--<input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button class="btn">Signin</button>-->
        <button class="btn" disabled>Scan Page</button>
        <div id='message' class="content"></div>
    </div>
    
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/signin.js"></script>

</body>

</html>
